@font-face {
  font-family: "Hipnouma";
  src: url("Hipnouma.woff2") format("woff2"),
    url("Hipnouma.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.hipnouma {
  font-family: "Hipnouma", serif;
}
